*{
    padding: o;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #153677, #4e085f); */
    padding: 10px;
    transition: all 0.3 ease;

}

section .container .todo-app {
    border: 2px solid black;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #FFF;
    margin: 10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 1rem;
    transition: all 0.3 ease;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.3 ease;
    font-size: 2.5rem;
}

.todo-app h2 img {
    width: 3rem;
    margin-left: 1rem;
    transition: all 0.3 ease;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 2rem;
    margin-bottom: 25px;
    border-radius: 2rem;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 14px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3 ease;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    border-radius: 4rem;
    cursor: pointer;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3 ease;
}

ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: " ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked  {
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before {
    background-image: url(To-Do-Img/images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    transition: all 0.3 ease;
}

ul li span:hover {
    background: #edeef0;
}

